<% provide(:title, t("static_pages.contact.title")) %>
<h1><%= t("static_pages.contact.title") %></h1>
<p>
  <%= t("static_pages.contact.content_contact") %>
  <%= link_to "http://www.railstutorial.org/contact" do %>
    <%= t("static_pages.contact.content_contact1") %>
  <% end %>
</p>
